# files to ignore for unit testing

# entire working directory (used for output of test runs)
test/working

# executables in utilities
test/utils/*.exe

#dummy files for occasional hand-testing
test/dummy*

